title Smart Washer Tracker
link(rel="icon" href="logo32x32.png")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="out/bootstrap.css")
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
link(rel="stylesheet" href="style.css")
link(rel="stylesheet" href="header.css")
script(src='out/jquery.min.js')
script(src='out/bootstrap.bundle.min.js')
script(src="out/angular.min.js")
script(src="main.js")
script(src="header.js")
script(type='text/javascript').
	var resData = !{JSON.stringify(resData)};
